%ul
  - if can? :read, Team
    %li
      = link_to "Team", teams_path

  - if can? :read, Championship
    %li
      = link_to "Champhionship", championships_path

  - if can? :read, Round
    %li
      = link_to "Round", rounds_path

  - if can? :read, Game
    %li
      = link_to "Game", games_path
